{{.NeedsRoot}}
# Initialize jail ZFS datasets
zfs create -o mountpoint={{.Mountpoint}} {{.Dataset}} # Root jail dataset

zfs create {{.Dataset}}/media # Compressed FreeBSD release images
zfs create {{.Dataset}}/templates # FreeBSD userland templates (used to create thin jails via snapshot + clone)
zfs create {{.Dataset}}/containers # Live jail containers
